.sideNav{
    display: flex;
    width: 100%;
    height: 571px;
    // border: 7px solid #78028c;
    .form{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        .login-form{
            width: 60%;
           
         
        }
    }
}
.register-title{
    color:#78028c;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100%;
    height: calc(100vh - 150px);
    border: 7px solid #78028c;
}
.primary-btn{
    color: #fff;
    background: #78028c;
    border-radius: 5px;

  }
  .ant-form-item-label{
    text-align: left;
}